body {
    height: 100vh;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(180deg, #011B34, #0070B8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#logo {
    margin-bottom: 1.5rem; /* Espace ajusté sous le logo */
}

#logo img {
    width: 150px; /* Ajustez la taille du logo si nécessaire */
}

#text {
    text-align: center;
    margin-top: 20px; /* Ajustez l'espacement supérieur si nécessaire */
}

#text_1, #text_2 {
    color: white;
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: 0;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.link-item {
    display: flex;
    align-items: center; /* Centrer verticalement les éléments */
    gap: 10px; /* Espace entre l'icône et le texte */
    margin-top: 10px; /* Espace entre les éléments */
    color: white;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    width: 100%; /* Prendre toute la largeur pour aligner les textes */
    justify-content: flex-start;
}

.link-item a {
    display: flex;
    align-items: center; /* Centrer verticalement les éléments dans le lien */
    color: #F4CD4C;
    text-decoration: none;
    width: 100%;
}

.link-item i {
    font-size: 2em;
    color: white;
    width: 40px; /* Largeur fixe pour aligner les icônes */
    text-align: center; /* Centrer l'icône dans le cadre */
}

.link-item p {
    margin-left: 30px; /* Augmentation de l'espace entre l'icône et le texte */
    flex-grow: 1; /* Assurer que le texte utilise l'espace disponible */
    white-space: nowrap; /* Empêcher le texte de passer à la ligne */
}

#mail {
    margin-left: 30px;
}

@media only screen and (max-width: 600px) {
    #text_1, #text_2 {
        font-size: 1.55em;
    }

    #links {
        margin-top: 15%;
    }
    
    .link-item {
        font-size: 1.7em;
    }

    .link-item i {
        font-size: 1.7em;
    }
}
