@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(180deg, #ffffff, #0A2E44);
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Ajustez l'espacement supérieur si nécessaire */
}

#text {
    text-align: center;
    margin-top: 20px; /* Ajustez l'espacement supérieur si nécessaire */
}

#text_1, #text_2 {
    color: #0A2E44;
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    margin: 0;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.link-item {
    display: flex;
    align-items: center; /* Centrer verticalement les éléments */
    gap: 10px; /* Espace entre l'icône et le texte */
    margin-top: 10px; /* Espace entre les éléments */
    color: white;
    font-size: 1.5em;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}

.link-item a {
    display: flex;
    align-items: center; /* Centrer verticalement les éléments dans le lien */
    color: #001e30;
    text-decoration: none;
}

.link-item i {
    font-size: 2em;
    margin-right: 20%;
    color: #F55346;
}

@media only screen and (max-width: 600px) {
    #text_1, #text_2 {
        font-size: 1.55em;
    }

    #links {
        margin-top: 15%;
    }
    .link-item {
        font-size: 1.7em;
    }

    .link-item i {
        font-size: 1.7em;
    }
}

